table {
    width: 100%;
  }

  .addButton {
    margin: 1%;
    padding: 1%;
    width: 25%;
    text-align: center;
    color: #6184af;
    background-color: #6184af;
  }

  .add {
    color: #6184af;
    background-color: #6184af;
  }

  .middle {
    display: flex;
    justify-content: center;
    align-content: center;
  }