<mat-toolbar class = "justify">
    <span class = "mid-header">Resource Library</span>
</mat-toolbar>

<!-- <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
    <mat-tab label="Metric Library"><app-metric-lib></app-metric-lib></mat-tab>
    <mat-tab label="Prompt Library"><app-prompt-lib></app-prompt-lib></mat-tab>
    <mat-tab label="Mentor Texts"><app-mentor-texts></app-mentor-texts></mat-tab>
    <mat-tab label="Rubrics"><app-rubrics></app-rubrics></mat-tab>
</mat-tab-group> -->

<mat-toolbar>

    <span class="toolbar-flex"></span>
      <nav mat-tab-nav-bar #tabPanel>
        <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
         {{link.label}}
        </a>
        </nav>
    <span class="toolbar-flex"></span>
    
    </mat-toolbar>
    <router-outlet></router-outlet>