<mat-toolbar color = "primary" class = "justify" >
    <span class = "mid-header">Resource Library</span>
</mat-toolbar>


<mat-toolbar>

    <span class="toolbar-flex"></span>
      <nav mat-tab-nav-bar #tabPanel>
        <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
         {{link.label}}
        </a>
        </nav>
    <span class="toolbar-flex"></span>
    
    </mat-toolbar>
    <router-outlet></router-outlet>