.mid-header {
    text-align: center;
}

.justify {
    justify-content: center;
}

.right-float {
    position: absolute;
    right: 1%;
}

.toolbar-flex {
    align-items: center;
    flex: 1 0.5 auto;
  }